[config]
skip_core_tasks = true

[tasks.default]
dependencies = ["hello-world-common", "hello-world"]

[tasks.hello-world-common]
script_runner = "@shell"
script = [
    "touch 'testfile.txt'"
]

[tasks.hello-world]
script_runner = "@shell"
script = [
    "echo 'Hello World From Unknown'"
]

[tasks.hello-world.linux]
script_runner = "@shell"
script = [
    "echo 'Hello World From Linux'"
]

